<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- com.bank.transaction.mapper.stckInfo(주식정보) -->
<mapper namespace="com.bank.transaction.mapper.stckInfo.StckInfoMapper">

<!-- 주식 정보 조회-->
<select id = "stckInfoSelect"  resultType="Map" parameterType="Map" >
	SELECT /* SQL_ID : StckInfoMapper.stckInfoSelect(주식 정보 조회) 
				 TURN		/*순번       */
				,TIKER		/*주식_티커   */
				,STCNM		/*주식명     */
				,DVDNCYC	/*배당_주기   */
				,DVDN		/*배당금     */
				,USEYN		/*사용여부    */
				,DELYN		/*삭제여부    */
				,REGYMD		/*등록일자    */
				,MDFCNYMD	/*수정일자    */
	FROM STOCKINFORMATION
		ORDER BY STCNM
</select>

<!-- 주식 정보 등록-->
<select id = "stckInfoInsert"  resultType="Map" parameterType="Map" >
		INSERT /* SQL_ID : StckInfoMapper.stckInfoInsert(주식 정보 등록)  */
			INTO 
				STOCKINFORMATION
			(
				 TURN		/*순번       */
				,TIKER		/*주식_티커   */
				,STCNM		/*주식명     */
				,DVDNCYC	/*배당_주기   */
				,DVDN		/*배당금     */
				,USEYN		/*사용여부    */
				,DELYN		/*삭제여부    */
				,REGYMD		/*등록일자    */
				,MDFCNYMD	/*수정일자    */
				)
		VALUES(
				 (
				 	SELECT 
				 		(TO_CHAR(SYSDATE, 'YYMMDD')||LPAD(NVL(MAX(TURN), 0),4,0)) 
				 	FROM STOCKINFORMATION WHERE turn LIKE #{TURN} || '%'
				 )		/*순번       */
				,#{TIKER}		/*주식_티커   */
				,#{STCNM}		/*주식명     */
				,#{DVDNCYC}		/*배당_주기   */
				,#{DVDN}		/*배당금     */
				,#{USEYN}		/*사용여부    */
				,#{DELYN}		/*삭제여부    */
				,SYSDATE		/*등록일자    */
				,SYSDATE		/*수정일자    */
		)
</select>

</mapper>